html {
  scroll-behavior: smooth;
}

header {
  background-image: url('images/sky-night.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: -100px;
  min-height: 700px;
  position: relative;

  .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background-color: rgba(0,0,0,0.2);
  }

  h1{
    font-family: 'Andada';
    font-weight: 900;
    font-size: 4rem;
  }

  h3 {
    font-family: 'Trocchi';
    font-size: 2rem;
  }
  
}

.navbar {
  // background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  a {
    color: #fff!important;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 900;
  }

  .navbar-brand {
    font-family: 'Abril Fatface';
    font-size: 2.75rem;
    font-weight: normal;
  }
}

h1 {
  font-family: 'Montserrat';
  font-size: 3rem;
  font-weight: 900;
}

p {
  font-family: 'Roboto';
  font-size: 1.45rem;
}

#about {
  padding: 15%;
  position: relative;
  background: #fff;
  z-index: 2;
  // min-height: 600px;
}

#about::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(4deg);
}

#abilities {
  background-image: url('images/screen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -100px;
  min-height: 800px;

  .abilities-inner{
    padding: 7%;
    background-color: rgba(0,0,0,0.7);
  }
}

#projects {
  text-align: center;
  padding: 7% 5%;

  .row {
    padding: 0 4%;
  }
  
  .card {
    margin: 0 auto 50px;
  }
  
  .card-text {
    margin: 1rem 0;
  }
}

footer {
  background: #000;
  color: #fff;
}